html {
  font-family: Gadugi, serif;
  font-size: 1.125em; 
  line-height: 1.333em; 
}

body {
  padding-top: 2.00em;
  padding-right: 1.28em;
  padding-left: 1.28em;
  padding-bottom: 4.00em;
  background-color: rgb(51, 138, 10);
}